.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #F5FCFF;
    padding-top: 10px;
}
.welcome {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.instructions {
    text-align: center;
    color: #333333;
    margin-bottom: 5px;
}
.tabstyle {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #ddd;
}
.flex {
    flex: 1;
    flex-direction: row;
}
.leftText {
    text-align: left;
}
.leftTextBold {
    text-align: left;
    font-weight: bold;
}